body {
  text-align: center;
  /* background-color: #222831; */
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VCHXZQKsxil3lhgr4/videoblocks-loop-moved-video-game-icons-background_bleuy6maf_thumbnail-full01.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  color: #e7d39f;
  font-family: 'Press Start 2P', cursive;
  margin: 2% 0% 2%;
  font-size: 0.6rem;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3% 5% 2%;
  color: #e7d39f;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-image: url("https://i.ytimg.com/vi/9zYabZFXc0c/maxresdefault.jpg");
  opacity: 0.8;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.red {
  background-color: #9d0b0b;
}

.green {
  background-color: #00bd56;
}

.blue {
  background-color: #323edd;
}

.yellow {
  background-color: #ffd31d;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #c5c5c5;
}
